<a href="https://colab.research.google.com/github/VictorSilvaCamargo/map-_filter-_reduce_com_fun-es_lambda_Pyspark/blob/main/map%2C_filter%2C_reduce_com_fun%C3%A7%C3%B5es_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Estudante:
    def __init__(self, nome, exame, tde, contribuicao, ra=0):
        self.nome = nome
        self.exame = exame
        self.tde = tde
        self.contribuicao = contribuicao
        self.ra = ra

    def __str__(self):
        return f"Nome: {self.nome}, Exame: {self.exame}, TDE: {self.tde}, Contribuição: {self.contribuicao}, RA: {self.ra}"

estudantes = [
    Estudante("Antonio", 6, 10, 9),
    Estudante("Maria", 8, 7, 3),
    Estudante("Carlos", 5, 4, 2),
    Estudante("Isabella", 9, 8, 7),
    Estudante("Luis", 7, 6, 4)
]

In [ ]:
nova_lista = list(map(lambda x: Estudante(x.nome, x.exame, 0 if x.contribuicao < 5 else x.tde, x.contribuicao, x.ra), estudantes))
for i in nova_lista:
    print(i)

Nome: Antonio, Exame: 6, TDE: 10, Contribuição: 9, RA: 0
Nome: Maria, Exame: 8, TDE: 0, Contribuição: 3, RA: 0
Nome: Carlos, Exame: 5, TDE: 0, Contribuição: 2, RA: 0
Nome: Isabella, Exame: 9, TDE: 8, Contribuição: 7, RA: 0
Nome: Luis, Exame: 7, TDE: 0, Contribuição: 4, RA: 0

In [ ]:
nota_final = list(map(lambda x: Estudante(x.nome, x.exame, x.tde, x.contribuicao, 0.7 * x.exame + 0.3 * x.tde), nova_lista))

for i in nota_final:
    print(i)

Nome: Antonio, Exame: 6, TDE: 10, Contribuição: 9, RA: 7.199999999999999
Nome: Maria, Exame: 8, TDE: 0, Contribuição: 3, RA: 5.6
Nome: Carlos, Exame: 5, TDE: 0, Contribuição: 2, RA: 3.5
Nome: Isabella, Exame: 9, TDE: 8, Contribuição: 7, RA: 8.7
Nome: Luis, Exame: 7, TDE: 0, Contribuição: 4, RA: 4.8999999999999995

In [ ]:
aprovado = list(filter(lambda x: x.ra > 7, nota_final))
for i in aprovado:
  print(i.nome)

Antonio
Isabella

In [ ]:
from functools import reduce
media = reduce(lambda x, y: x+y, map(lambda x: x.ra, nota_final))
print(f"{media:.2f}")

29.90